.tree-data {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;

        &:nth-child(odd) {
            background-color: #D9E4F2;
        }

        .name {
            font-size: 14px;
            line-height: 35px;
            font-weight: 500;
            color: #39475B;
            display: inline-block;
            vertical-align: top;
        }

        .caret-right {
            display: inline-block;
            vertical-align: top;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 12px;
            border-color: transparent transparent transparent #8392A7;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;
        }

        .tree-sub-data{
            li{
                padding-left: 0;
                &:nth-child(odd) {
                    background-color: #ffffff;
                }
                &:nth-child(even) {
                    background-color: #D9E4F2;
                }
                .heading{
                    padding-left: 25px;
                }
                li{
                    padding-left: 0;
                    &:nth-child(odd) {
                        background-color: #ffffff;
                    }
                    &:nth-child(even) {
                        background-color: #D9E4F2;
                    }
                    .heading{
                        padding-left: 50px;
                    }
                }
            }
        }

    }


}
